body
 {
    font-family: Arial;
    background-color: #f0f0f0;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    display: inline-block;
    margin-top: 50px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 20px;
}